<html>
<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" media="screen"
	href="@{'/public/stylesheets/main.css'}" />
<link rel="shortcut icon" type="image/png"
	href="@{'/public/images/favicon.png'}" />
<script src="@{'/public/javascripts/jquery-1.5.2.min.js'}"></script>
<script
	src="@{'/public/javascripts/jquery.tools-1.2.5.toolbox.expose.min.js'}"></script>
</head>
<body>
	<div id="header">
		<div id="logo">欢喜云盘.Admin</div>
		<ul id="tools">
			<li><a href="@{User.index()}">Log in</a></li>
		</ul>
		<div id="title">
			
		</div>
	</div>
	<p id="footer">
		 HappyCloud Administor Page built with <a target="_blank" href="https://www.playframework.com/getting-started">Play
			framework</a> By Nanrong_Zeng.
	</p>
</body>
</html>